.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%; /* Later will update it according to the design needs. */
  padding: 0 20px;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  gap: 10px;
}

.search-bar button {
  margin-left: 10px;
  padding: 5px;
}

.search-input {
  border: none;
  flex: 1;
  padding: 5px;
  background-color: var(--bg-light);
}

.search-input:focus {
  outline: none;
}

.search-icon {
  color: var(--text-muted);
  font-size: 1.2rem;
}

.notification-icon {
  color: var(--secondary-color);
}

.search-icon,
.notification-icon {
  transition: color 0.15s ease-in-out;
}

.search-icon:hover,
.notification-icon:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .search-bar.open {
    width: 100%;
    padding: 0 20px;
  }

  .search-bar.close {
    width: fit-content;
    padding: 0 10px;
  }

  .search-bar button {
    margin-left: 0;
  }

  .search-input.hide-input {
    display: none;
  }

  .search-input.show-input {
    display: block;
  }
}
